p {
  color: black;
}

body {
  background-color: orange;
  font-family: verdana, sans-serif;
}

header {
  /*background-color: #3C6B15; */
  /*background-color: rgb(120, 25, 10); */
  /*background-color: rgba(120, 25, 10, 1); */
  padding-left: 10px;
}

.css-bild {
  padding-left: 10px;
}

h2 {
  padding-left: 10px;
}

section {
  background-color: orange;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

article {
  background-color: lightblue;
  margin: 4px;
}

footer {
  background-color: lightblue;
  padding: 10px;
  margin: 8px;
}

p {
  padding-left: 10px;
}

a {
  color: hsl(60, 100%, 20%);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}